.titulo{
    width: 100%;
    text-align: center;
    color: blanchedalmond;
    @extend %fuente;
    font-size: 8rem;
}

.cuerpo{
    background-color: #181818;
}

.quien{
    color: blanchedalmond;
    font-size: 38px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 100;
}
