.titulo{
    width: 100%;
    text-align: center;
    color: blanchedalmond;
    @extend %fuente;
    font-size: 8rem;
    font-weight: 400;
}

.cuerpo{
    background-color: #181818;
}

/* Text portadas */
.text-portada{
    color: #181818;
    text-align: center;
    @extend %fuente;
    font-size: 25px;
}

.div-portada{
    transition: all .2s ease-in-out;
}

.div-portada:hover{
    transform: scale(1.1);
}
/* About */
.quien{
    color: blanchedalmond;
    font-size: 38px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 100;
}
/* Boton insta */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#222222;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 3px 3px 6px rgb(0, 0, 0);
    z-index:100;
}
.float:hover {
	text-decoration: none;
    color: #f0f0f0;
    background-color:rgb(54, 54, 54);
}

.my-float{
	margin-top:16px;
}