header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(26, 26, 26, 0.9);
  backdrop-filter: blur(3px);
}
  

nav{
  float: left;
      ul{
          list-style: none;
          overflow: hidden;
              li{
                  float: left;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 30px;
              }
                  a{
                      display: block;
                      padding: 20px;
                      color: #fff;
                      text-decoration: none;
                      padding-top: 10px;
                      padding-bottom: 10px;
                  }
                      :hover{
                          background: transparent;
                          color: #616161;
                      }
      }
}

.wrapper{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.contenido-wrapper{
  padding-top: 100px;
  font-size: 40px;
}

p{
  margin-left: 10px;
  margin-right: 10px;
}