*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import 'header';
@import 'body';
@import 'footer';
@import 'extend';
@import 'mediaquerys';
@import 'contacto';